<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

  <title>
    Giftos
  </title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min1.css" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />
  <style>
    .offcanvas-custom-zindex {
      z-index: 10000000;
      margin-left: 90px;
    }
    #btcart {
      background-color: black;
      color: white;
      border: none;
      margin-top: 10px;

    }
    #quantity-field {
      width: 100px;
      height: 30px;
      margin-left: 10px;

    }
    .btn-search {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        #search-input {
            display: none; /* Ẩn khung text ban đầu */
            transition: width 0.3s ease-in-out;
            width: 0;
        }

        .fa-search {
            transition: opacity 0.3s ease-in-out;
        }
    
  </style>
</head>